/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
html,
body {
  font-family: "Ubuntu", sans-serif !important;
  overflow-x: hidden;
  background: rgba(251, 250, 250, 1) !important;
}
@font-face {
  font-family: rootui;
  src: url("./assets/font/regular.otf");
}
@font-face {
  font-family: rot;
  src: url("./assets/font/bold.otf");
}
.font_root {
  font-family: rootui !important;
}
.font_root_bold {
  font-family: rot !important;
}
.ft_ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .container_modified {
    max-width: 1140px !important;
  }
}
/* ROOTS-STARTS */
:root {
  /*================================== FONT-SIZES ================================================ */
  --font-xxxs: 14px;
  --font-xxs: 16px;
  --font-xs: 18px;
  --font-sm: 20px;
  --font-md: 24px;
  --font-lg: 40px;
  --font-xl: 50px;
  --font-xxl: 72px;
  /*================================== COLORS ==================================================== */
  --color-white: #ffffff;
  --color-green: #cdee00;
  --color-grey: #f1f1f1;
  --color-orange: #fd791a;
  --color-black: #181818;
}
@media (max-width: 1199.99px) {
  :root {
    --font-xxxs: 12px;
    --font-lg: 31px;
    --font-xl: 44px;
    --font-xxl: 62px;
  }
}
@media (max-width: 991.99px) {
  :root {
    --font-xxl: 55px;
    --font-md: 18px;
    --font-lg: 37px;
  }
}
@media (max-width: 474.99px) {
  :root {
    --font-xxxs: 10px;
    --font-xxs: 16px;
    --font-xs: 16px;
    --font-sm: 16px;
    --font-md: 15px;
    --font-lg: 32px;
    --font-xl: 30px;
    --font-xxl: 46px;
  }
}
@media (max-width: 374.99px) {
  :root {
    --font-xxxs: 10px;
    --font-xxs: 14px;
    --font-xs: 15px;
    --font-sm: 15px;
    --font-xl: 26px;
    --font-xxl: 36px;
  }
}
/* COMMON-CLASSES */
.font_xxxs {
  font-size: var(--font-xxxs) !important;
}
.font_xxs {
  font-size: var(--font-xxs) !important;
}
.font_xs {
  font-size: var(--font-xs) !important;
}
.font_sm {
  font-size: var(--font-sm) !important;
}
.font_md {
  font-size: var(--font-md) !important;
}
.font_lg {
  font-size: var(--font-lg) !important;
}
.font_xl {
  font-size: var(--font-xl) !important;
}
.font_xxl {
  font-size: var(--font-xxl) !important;
}
/* FONT-START */
.fw_normal {
  font-weight: 400 !important;
}
.fw_middium {
  font-weight: 500 !important;
}
.fw_bold {
  font-weight: 600 !important;
}
.fw_xetrabold {
  font-weight: 700 !important;
}
/* FONT-ENDS */
.herding {
  font-size: var(--font-xxl);
}
.min_heading {
  font-size: var(--font-xl);
  font-weight: 700;
}
.small_heading {
  font-size: var(--font-lg);
  font-weight: 700;
}
.para {
  font-size: var(--font-xxs);
  font-weight: 400;
}
/* COLORS */
.white {
  color: var(--color-white);
}
.orange {
  color: var(--color-orange);
}
.green {
  color: var(--color-green);
}
.grey {
  color: var(--color-grey);
}
.active_link {
  color: #cdee00 !important;
}
.black {
  color: var(--color-black);
}
.cursor_pointer {
  cursor: pointer;
}

/* WHAT-CSS-STARTS */
.what_bg {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff8f3),
      to(#fff8f3)
    ),
    -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff));
  background: -o-linear-gradient(bottom, #fff8f3, #fff8f3),
    -o-linear-gradient(bottom, #ffffff, #ffffff);
  background: linear-gradient(0deg, #fff8f3, #fff8f3),
    linear-gradient(0deg, #ffffff, #ffffff);
  min-height: 579px;
}
.slider_imgbr {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* .mw_w {
  max-width: 352px;
} */
.what_bg .slick-prev {
  background-image: url("/src/assets/images/svg/prev.svg") !important;
  background-size: 100% 100% !important;
}
.what_bg .slick-prev:before {
  content: "" !important;
}
.what_bg .slick-prev {
  left: 617px !important;
  width: 25px !important;
  height: 25px !important;
  top: 75% !important;
}
.what_bg .slick-next {
  background-image: url("/src/assets/images/svg/next.svg") !important;
  background-size: 100% 100% !important;
}
.what_bg .slick-next:before {
  content: "" !important;
}
.what_bg .slick-next {
  top: 75% !important;
  right: -137px !important;
  width: 25px !important;
  height: 25px !important;
}
.what_bg .slick-dots li button:before {
  font-size: 13px !important;
}
.what_bg .slick-dots li.slick-active button:before {
  color: var(--color-orange) !important;
  opacity: 100% !important;
}
.what_bg .slick-slide div {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.what_bg .slick-slider {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.what_bg .slick-list {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.what_bg .slick-initialized .slick-slide {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.opacity-70 {
  opacity: 70% !important;
}

/* WHAT-CSS-ENDS */

/* SHOWING-CSS-STARTS */
.showing_logo {
  max-width: 84px;
}
.copy_btn {
  border: 1px solid var(--color-green);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 8px 9px 8px 12px;
}
.copy_btn button {
  background-color: var(--color-green);
  padding: 7px 26px;
  border: 1px solid var(--color-green);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.cutom_font {
  font-size: 28px;
}
.twitter_icon img {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.twitter_icon:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* SHOWING-CSS-ENDS */

/* WATING-CSS-ENDS */
.waiting_card {
  background: #fafde8;
  border: 1px solid #f0ff92;
  border-radius: 15px;
  max-width: 290px;
  padding: 19px 0 25px 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.waiting_card:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
}
.chrom_card {
  background: #ffebea;
  border: 1px solid #ffc6c4;
}
.waiting_card:hover .chrom_card {
  -webkit-box-shadow: 0px 4px 10px rgba(255, 198, 195, 1);
  box-shadow: 0px 4px 10px rgba(255, 198, 195, 1);
}
.docs_card {
  background: #fbeeff;
  border: 1px solid #f1cbff;
}
.waiting_card:hover .docs_card {
  -webkit-box-shadow: 0px 4px 10px rgba(241, 203, 255, 1);
  box-shadow: 0px 4px 10px rgba(241, 203, 255, 1);
}
.discord_card {
  background: #e8eaff;
  border: 1px solid #b7bdff;
}
.waiting_card:hover .discord_card {
  -webkit-box-shadow: 0px 4px 10px rgba(183, 189, 255, 1);
  box-shadow: 0px 4px 10px rgba(183, 189, 255, 1);
}
.chrome_img {
  max-width: 74px;
}
.green_noggle {
  max-width: 172px;
}
.docs_img {
  max-width: 72px;
}
.swal2-container {
  overflow: hidden !important;
}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  padding-right: 0 !important;
}
/* WATING-CSS-ENDS */
/* PROFILERATE-CSS-START */
.proliferate {
  background-image: url("/src/assets/images/png/profilate.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.blacknogggle {
  width: 50px;
}
.proliferate_cards {
  background: #f9f1eb;
  border-radius: 12.0675px;
  padding: 15px 14px 15px 14px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.proliferate .slick-list {
  /* padding: 10px 0 !important;  */
  overflow-x: hidden !important;
}
.proliferate .slick-track {
  padding: 10px 0 !important;
}
.proliferate_cards:hover {
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.19);
}
.prolifirate_img {
  max-width: 210px;
}
.proliferate .slick-initialized .slick-slide {
  padding: 32px 20px !important;
}
.proliferate .slick-prev {
  background-image: url("/src/assets/images/svg/prev.svg") !important;
  background-size: 100% 100% !important;
}
.proliferate .slick-prev:before {
  content: "" !important;
}
.proliferate .slick-prev {
  left: 519px !important;
  width: 25px !important;
  height: 25px !important;
  top: 104% !important;
}
.proliferate .slick-next {
  right: 526px !important;
  width: 25px !important;
  height: 25px !important;
  top: 104% !important;
}
.proliferate .slick-next {
  background-image: url("/src/assets/images/svg/next.svg") !important;
  background-size: 100% 100% !important;
}
.proliferate .slick-next:before {
  content: "" !important;
}
.proliferate .slick-dots li button:before {
  font-size: 13px !important;
}
.proliferate .slick-dots li.slick-active button:before {
  color: var(--color-orange) !important;
  opacity: 100% !important;
}
.proliferate .slick-dots {
  bottom: -59px !important;
}
/* PROFILERATE-CSS-ENDS */
.headernoggle_slider {
  background-image: url(".../../assets/images/png/sliderbg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 38px 0;
}

.text-scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 28%;
  -webkit-animation-name: textSCroll;
  animation-name: textSCroll;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
}

.custom_img_slider {
  max-width: 150px;
  padding: 24px;
}

@-webkit-keyframes textSCroll {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes textSCroll {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* JOIN-CSS-START */
.join_cards {
  background: rgba(249, 241, 235, 1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 9px 10px;
  width: 192px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.join_cards:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.join_noggle {
  max-width: 35px;
}
.slick-dots li button:before {
  color: var(--color-orange) !important;
}
.join_twitter {
  right: 20px;
  top: 20px;
  max-width: 20px;
}
.lfg_btn {
  background: #cdee00;
  border-radius: 15px;
}
.lfg_btn img {
  max-width: 50px;
}
.mt_negative {
  transform: translateY(-28px);
  -webkit-transform: translateY(-28px);
  -moz-transform: translateY(-28px);
  -ms-transform: translateY(-28px);
  -o-transform: translateY(-28px);
}
.blureright {
  right: 0;
  z-index: 0;
  bottom: 0;
}
.blurleft {
  left: 117px;
  z-index: 0;
  bottom: 0;
}
.whatetop {
  left: 0;
  top: 10px;
  z-index: 0;
}
.whatebottom {
  right: 4px;
  bottom: 14px;
}
.noogle_black {
  max-width: 50px;
}
.jp_img {
  max-width: 50px;
}
.tiltComponent {
  height: 273px;
  width: 249px;
}

/* JOIN-CSS-ENDS */
.faq_bg {
  background-image: url("/src/assets/images/png/FAQ.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.header_sliderimg {
  background-image: url("../src/assets/images/png/sliderbg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 145px;
}
.what_bg .slick-arrow .slick-next {
  display: block !important;
}
.prolifirate_img {
  left: 0;
  top: 0;
}
.prolifirate_imgbottom {
  left: 180px;
  bottom: -1px;
}
.z_index {
  z-index: 0;
}
.hero_noggle {
  background: -o-linear-gradient(
    302.47deg,
    rgba(218, 114, 255, 0.53) -1.16%,
    rgba(218, 114, 255, 0) 100.91%
  );
  background: linear-gradient(
    147.53deg,
    rgba(218, 114, 255, 0.53) -1.16%,
    rgba(218, 114, 255, 0) 100.91%
  );
  backdrop-filter: blur(28.1323px);
  -webkit-box-shadow: 0px 10.1439px 46.4927px rgb(0 0 0 / 15%);
  box-shadow: 0px 10.1439px 46.4927px rgb(0 0 0 / 15%);
  -webkit-backdrop-filter: blur(28.1323px);
  border-radius: 20.5844px;
  width: 309px !important;
  right: 440px;
  padding: 19px 20px;
  top: 312px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
}
.hero_noggle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 500;
}
.cutom_tilt {
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
}
.custom_hover {
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
}
.custom_hover:hover {
  transform: scale(1.01) !important;
  -webkit-transform: scale(1.01) !important;
  -moz-transform: scale(1.01) !important;
  -ms-transform: scale(1.01) !important;
  -o-transform: scale(1.01) !important;
  z-index: 500;
}

.hero_noggle:hover .tiltComponent .cutom_tilt {
  z-index: 8 !important;
}
.hero_noggle_second {
  background: -o-linear-gradient(
    306.08deg,
    rgba(18, 162, 254, 0.65) 0%,
    rgba(18, 162, 254, 0.12) 99.88%
  );
  background: linear-gradient(
    143.92deg,
    rgba(18, 162, 254, 0.65) 0%,
    rgba(18, 162, 254, 0.12) 99.88%
  );
  -webkit-box-shadow: 0px 10.1439px 46.4927px rgb(0 0 0 / 15%);
  box-shadow: 0px 10.1439px 46.4927px rgb(0 0 0 / 15%);
  -webkit-backdrop-filter: blur(28.1323px);
  backdrop-filter: blur(28.1323px);
  border-radius: 20.5844px;
  width: 309px !important;
  right: -29px;
  padding: 19px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 11px;
}
.hero_noggle_second:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 500;
}
.hero_noggle_third {
  background: -o-linear-gradient(
    305.29deg,
    rgba(249, 171, 19, 0.71) -1.37%,
    rgba(249, 171, 19, 0.14) 100.94%
  );
  background: linear-gradient(
    144.71deg,
    rgba(249, 171, 19, 0.71) -1.37%,
    rgba(249, 171, 19, 0.14) 100.94%
  );
  backdrop-filter: blur(32.748px);
  -webkit-box-shadow: 0px 10.1439px 46.4927px rgb(0 0 0 / 15%);
  box-shadow: 0px 10.1439px 46.4927px rgb(0 0 0 / 15%);
  -webkit-backdrop-filter: blur(32.748px);
  border-radius: 20.5844px;
  width: 309px !important;
  right: 279px;
  padding: 19px 20px;
  top: 198px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.hero_noggle_third:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 500;
}
.img_height {
  height: unset !important;
}
.footer_left {
  top: 15px;
  max-width: 133px;
}
.custom_mh {
  min-height: 253px;
}
.swal2-title {
  font-size: var(--font-md) !important;
}
.Toastify__close-button--light {
  opacity: 100% !important;
}
.Toastify__toast-body > div:last-child {
  color: black !important;
  font-weight: 600;
}
.Toastify__progress-bar-theme--light {
  background: var(--color-green) !important;
}
.Toastify__toast-body > div:last-child {
  -webkit-box-flex: 0 !important;
  -ms-flex: none !important;
  flex: none !important;
}
.Toastify__toast {
  margin-bottom: 4rem !important;
}
.Toastify__close-button {
  margin-top: 10px !important;
}
.noogle_represent {
  height: 37px;
  margin-top: -13px;
  margin-left: 6px;
}
.mw_w {
  max-width: 14px;
}
.card_overlay {
  right: 0;
  top: 0;
  height: 100.8%;
  border-radius: 14px;
  max-width: 289px;
}
.readbtn_custom {
  background: #8ad9fa;
  -webkit-box-shadow: 0px 4px 66px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 66px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 8px 10px;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.discover_img {
  max-width: 55px;
  margin-left: 1px;
  margin-top: -5px;
}

.custom_ft {
  font-size: 25px;
}

.orange_color {
  color: #411b00;
}
.purple_color {
  color: #022e41;
}
.pink_color {
  color: #712b8a;
}
.mw_noggle {
  max-width: 66px;
}
.slick-disabled {
  pointer-events: none;
  background: #b0b0b0;
}
.hover_underline {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover_underline:hover {
  opacity: 75%;
}
.custom_z {
  z-index: 0;
}
.custom_sliderbtn {
  border-radius: 50%;
  background: #fd791a;
  height: 28px;
  width: 28px;
  cursor: pointer;
}
.svg_w {
  max-width: 12px;
}
.custom_font {
  font-size: 18px;
  font-weight: 800;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}
.slider_bg {
  background-color: #b0b0b0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: unset;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-orange);
  border-radius: 10px;
}

@media (min-width: 1600px) {
  .hero_bgi {
    max-height: 795px;
  }
  .hero_noggle {
    width: 309px;
    right: 298px;
    padding: 19px 20px;
    top: 49px;
  }
  .hero_noggle_third {
    width: 309px;
    right: 129px;
    padding: 19px 20px;
    top: -80px;
  }
  .hero_noggle_second {
    width: 309px;
    right: -82px;
    padding: 19px 20px;
    top: -13px;
  }

  .what_bg .slick-next {
    top: 75% !important;
    right: -147px !important;
  }
  .what_bg .slick-prev {
    left: 707px !important;
    top: 75% !important;
  }
  .proliferate .slick-prev {
    left: 608px !important;
    width: 25px !important;
    height: 25px !important;
    top: 103% !important;
  }
  .proliferate .slick-next {
    right: 605px !important;
    width: 25px !important;
    height: 25px !important;
    top: 103% !important;
  }
  .join_cards {
    width: 226px;
  }
  .what_bg {
    min-height: 729px;
  }
}
@media (min-width: 1800px) {
  .hero_bgi {
    max-height: 909px;
  }
}
@media (max-width: 1599.99px) {
  .hero_noggle_third {
    width: 249px !important;
    right: 138px;
    padding: 19px 20px;
    top: -46px;
  }
  .hero_noggle {
    width: 249px !important;
    right: 270px;
    padding: 19px 20px;
    top: 53px;
  }
  .hero_noggle_second {
    width: 249px !important;
  }
}
@media (max-width: 1398.99px) {
  .card_overlay {
    height: 100.9%;
    border-radius: 14px;
    max-width: 260px;
  }
}
@media (max-width: 1298.99px) {
  .hero_noggle_third {
    width: 233px !important;
    right: 149px;
    padding: 19px 20px;
    top: -39px;
  }
  .hero_noggle {
    width: 233px !important;
    right: 275px;
    padding: 19px 20px;
    top: 53px;
  }
  .hero_noggle_second {
    width: 233px !important;
    right: 3px;
    top: 22px;
  }
}
@media (max-width: 1198.99px) {
  .card_overlay {
    max-width: 289px;
  }
  .blacknogggle {
    width: 40px;
    max-width: 100%;
  }
  .custom_ht {
    min-height: 330px;
    -webkit-transform: translate(-45px, 53px);
    -ms-transform: translate(-45px, 53px);
    transform: translate(-45px, 53px);
  }
  .what_bg .slick-next {
    right: -90px !important;
    top: 81% !important;
  }
  .swal2-popup {
    width: 23em !important;
  }
  .what_bg .slick-prev {
    left: 479px !important;
    top: 81% !important;
  }
  .swal2-popup {
    padding: 0px 0px 27px !important;
  }
  .swal2-title {
    padding: 0em 1em 0 !important;
  }
  .cutom_font {
    font-size: 24px;
  }
  .proliferate .slick-prev {
    left: 435px !important;
  }
  .proliferate .slick-next {
    right: 438px !important;
  }
  .join_cards {
    width: 151px;
  }
  .swal2-icon.swal2-success [class^="swal2-success-line"][class$="long"] {
    top: 2.575em !important;
    right: 1.4em !important;
    width: 1.6375em !important;
  }
  .swal2-icon.swal2-success [class^="swal2-success-line"][class$="tip"] {
    top: 2.775em !important;
    left: 1.3125em !important;
    width: 1.2625em !important;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .swal2-icon.swal2-success .swal2-success-ring {
    top: -0.05em !important;
    left: -0.05em !important;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 90% !important;
    height: 90% !important;
  }
}
@media (max-width: 998.99px) {
  .card_overlay {
    max-width: 216px;
    height: 100.2%;
    right: -1px;
  }
  .noogle_represent {
    height: 30px;
  }
  .hover_underline:hover::before {
    width: 26%;
  }
  .custom_htt {
    height: 370px;
  }
  .hero_noggle_third {
    width: 205px !important;
    right: 239px;
    padding: 19px 20px;
    top: 3px;
  }
  .hero_noggle_second {
    width: 205px !important;
    right: 103px;
    top: 66px;
  }
  .hero_noggle {
    width: 205px !important;
    right: 346px;
    padding: 19px 20px;
    top: 88px;
  }
  .what_bg .slick-next {
    right: 42% !important;
    top: 111% !important;
  }
  .what_bg .slick-prev {
    left: 42% !important;
    top: 111% !important;
  }
  .slick-dots {
    bottom: -39px !important;
  }
  .hero_bgi {
    height: unset !important;
    max-height: unset !important;
  }
  .custom_ht {
    min-height: 330px;
    -webkit-transform: translate(-26px, -3px);
    -ms-transform: translate(-26px, -3px);
    transform: translate(-26px, -3px);
  }
  .custom_mh {
    min-height: 154px;
  }
  .prolifirate_imgbottom {
    max-width: 150px;
  }
  .top_noggle {
    max-width: 115px !important;
  }
  .whatebottom {
    max-width: 100px;
  }
  .header_sliderimg {
    margin-bottom: 80px;
  }
  .whatetop {
    max-width: 100px;
  }
  .blurleft {
    left: 0px;
    max-width: 310px;
  }
  .blureright {
    max-width: 281px;
  }

  .what_bg {
    min-height: unset;
  }
  .proliferate .slick-prev {
    left: 45% !important;
    top: 100% !important;
  }
  .proliferate .slick-next {
    right: 45% !important;
    top: 100% !important;
  }
  .proliferate .slick-dots {
    bottom: -22px !important;
  }
  .mt_negative {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .showing_bottom_img {
    max-width: 100px;
  }
  .join_left_img {
    max-width: 100px;
  }
}
@media (max-width: 767.99px) {
  .discover_img {
    margin-left: 0px;
    margin-top: -3px;
}
  .hero_noggle_third {
    width: 205px !important;
    right: 35%;
    padding: 19px 20px;
    top: 3px;
  }
  .hero_noggle_second {
    width: 205px !important;
    right: 16%;
    top: 66px;
  }
  .hero_noggle {
    width: 205px !important;
    right: 50%;
    padding: 19px 20px;
    top: 88px;
  }
  .proliferate .slick-prev {
    left: 43% !important;
  }
  .what_bg .slick-next {
    right: 40% !important;
    top: 111% !important;
  }
  .what_bg .slick-prev {
    left: 40% !important;
    top: 111% !important;
  }
  .card_overlay {
    max-width: 246px;
    height: 100.2%;
    right: -1px;
  }
  .proliferate .slick-next {
    right: 43% !important;
  }
  .Toastify__toast-container {
    top: 1rem !important;
  }
  .top_noggle {
    max-width: 85px !important;
  }
  .prolifirate_imgbottom {
    max-width: 110px;
  }
  .footer_left {
    max-width: 63px;
  }
  .footer_left_bottom {
    max-width: 80px;
  }
}
@media (max-width: 575.99px) {
  .card_overlay {
    max-width: 262px;
    height: 100.2%;
    right: -1px;
  }
  .custom_sliderbtn {
    height: 34px;
    width: 34px;
  }
  .custom_ft {
    font-size: 19px;
  }

  .Toastify__toast {
    width: 85% !important;
    margin: auto;
  }
  .custom_ht {
    -webkit-transform: translate(124px, -3px);
    -ms-transform: translate(124px, -3px);
    transform: translate(124px, -3px);
  }
  .proliferate_cards {
    max-width: 250px;
  }
  .join_cards {
    width: 100%;
  }
  .hero_noggle_third {
    width: 163px !important;
    right: 187px;
    top: 18px;
    padding: 12px 15px;
  }
  .hero_noggle_second {
    width: 163px !important;
    right: 83px;
    top: 67px;
    padding: 12px 15px;
  }
  .hero_noggle {
    width: 163px !important;
    right: 274px;
    padding: 12px 15px;
    top: 92px;
  }
}
@media (max-width: 490.99px) {
  .cutom_font {
    font-size: 21px;
  }
  .discover_img {
    height: 14px;
  }
  .pagelogo_width {
    max-width: 107px !important;
  }
  .header_btn {
    padding: 9px 18px;
  }
  .custom_font {
    font-size: 13px;
    -webkit-transform: translateY(3.1px);
    -ms-transform: translateY(3.1px);
    transform: translateY(3.1px);
  }
  .hover_underline:hover::before {
    width: 33%;
  }

  .footer_left_bottom {
    max-width: 80px;
  }
  .whatetop {
    max-width: 56px;
  }
  .footer_left {
    max-width: 73px;
  }
  .top_noggle {
    max-width: 65px !important;
  }
  .prolifirate_imgbottom {
    max-width: 94px;
    left: 200px;
  }
  .showing_bottom_img {
    max-width: 70px;
  }
  .join_left_img {
    max-width: 60px;
  }

  .join_right_img {
    right: 1%;
    top: -4% !important;
    max-width: 60px;
  }
  .custom_mh {
    min-height: 183px;
  }
  .showing_logo {
    max-width: 49px;
  }
  .green_noggle {
    max-width: 114px;
  }
  .driven_btn {
    width: 68%;
  }
  .chrome_img {
    max-width: 53px;
  }
  .docs_img {
    max-width: 53px;
  }
  .proliferate .slick-prev {
    left: 40% !important;
  }
  .proliferate .slick-next {
    right: 40% !important;
  }
  .proliferate_cards {
    max-width: 240px;
  }
  .join_cards {
    width: 100%;
  }
  .hero_noggle_third {
    width: 144px !important;
    right: 154px;
    top: 22px;
    padding: 8px 10px;
  }
  .hero_noggle_second {
    width: 144px !important;
    right: 67px;
    top: 60px;
    padding: 8px 10px;
  }
  .hero_noggle {
    width: 144px !important;
    right: 229px;
    padding: 8px 10px;
    top: 89px;
  }
  .show_btn {
    padding: 14px 25px 14px 25px;
  }
}
@media (max-width: 398.99px) {
  .readbtn_custom {
    width: 65%;
  }
  .discover_img {
    height: 13px;
    margin-top: -2px;
}
  .custom_font {
    font-size: 10px;
    -webkit-transform: translateY(2.1px);
    -ms-transform: translateY(2.1px);
    transform: translateY(2.1px);
  }
  .mw_purple {
    width: 37px;
  }
  .custom_ft {
    font-size: 16px;
  }
  .custom_ft img {
    max-width: 35px;
  }
  .what_bg .slick-next {
    right: 38% !important;
    top: 120% !important;
  }
  .what_bg .slick-prev {
    left: 38% !important;
    top: 120% !important;
  }
  .custom_ht {
    height: unset;
    min-height: unset;
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
  }
  .tiltComponent {
    height: 253px;
    width: 89px;
  }
  .h1_img {
    width: 90px;
  }
  .hero_noggle_third {
    width: 120px !important;
    right: 135px;
    top: 23px;
    padding: 8px 10px;
  }
  .hero_noggle_second {
    width: 120px !important;
    right: 59px;
    top: 60px;
    padding: 8px 10px;
  }
  .hero_noggle {
    width: 120px !important;
    right: 198px;
    padding: 8px 10px;
    top: 89px;
  }
  .proliferate .slick-next {
    right: 39% !important;
  }
  .proliferate .slick-prev {
    left: 39% !important;
  }
  .showing_logo {
    max-width: 47px;
  }
  .noogle_black {
    max-width: 50px;
  }
  .cutom_font {
    font-size: 15px;
  }
  .custom_mh {
    min-height: 198px;
  }
  .Toastify__toast {
    width: 86% !important;
    margin-bottom: 15px !important;
    margin: auto;
  }

  .Toastify__toast-body {
    margin: auto 0;
    -webkit-box-flex: unset !important;
    -ms-flex: unset !important;
    flex: unset !important;
    padding: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .custom_htt {
    height: 316px;
  }
}

@media (max-width: 345.99px) {
  .hero_noggle_third {
    width: 120px !important;
    right: 103px;
    top: 23px;
    padding: 8px 10px;
  }
  .hover_underline:hover::before {
    width: 42%;
  }

  .hero_noggle_second {
    width: 120px !important;
    right: 26px;
    top: 60px;
    padding: 8px 10px;
  }
  .hero_noggle {
    width: 120px !important;
    right: 166px;
    padding: 8px 10px;
    top: 80px;
  }
}
