/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.fs_6xl {
  font-size: 35px;
}
.index_1 {
  z-index: 1;
}
.common_btn {
  background: var(--color-green) !important;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.common_btn:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(205, 238, 0, 0.58);
  box-shadow: 0px 4px 30px rgba(205, 238, 0, 0.58);
}
.opacity_2 {
  opacity: 0.2 !important;
}
.opacity_7 {
  opacity: 0.7 !important;
}
.opacity_8 {
  opacity: 0.8 !important;
}
.index_1000 {
  z-index: 1000;
}
.cursor_pointer {
  cursor: pointer !important;
}

/* ==================JOIN CSS====================== */
.join_left_img {
  top: -5% !important;
}
.join_right_img {
  right: 5%;
  top: -4% !important;
}
.showing_top_img {
  top: -5% !important;
}
.showing_bottom_img {
  right: 1%;
  bottom: 0 !important;
}

/* ==================navbar css====================== */

.pagelogo_width {
  max-width: 235px !important;
}

.index_999 {
  z-index: 999;
}
.header_btn {
  padding: 10px 25px;
}
.br_15 {
  border-radius: 15px;
}
.header_bgc {
  background: rgba(255, 255, 255, 0.5);
}
.navbar-overlay {
  position: fixed;
  width: 100%;
  height: 0%;
  z-index: 10;
  top: -800px;
  left: -800px;
  background: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0px 0px 100px 0px;
}

.active-nav-overlay .navbar-overlay {
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0;
}

.active-nav-overlay {
  overflow: hidden;
}

.navbar-overlay a {
  position: relative;
  cursor: pointer;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  list-style-type: none;
}

.active-nav-overlay a:nth-child(1) {
  -webkit-animation: animate_links 0.9s;
  animation: animate_links 0.9s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.active-nav-overlay a:nth-child(2) {
  -webkit-animation: animate_links 0.9s;
  animation: animate_links 0.9s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes animate_links {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes animate_links {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
}

/* HAMBURGER ICON STYLE  */
#nav-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--color-black);
  border-radius: 7px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 8px;
}

#nav-icon1 span:nth-child(3) {
  top: 16px;
}

.active-nav-overlay #nav-icon1 {
  z-index: 20;
}

.active-nav-overlay #nav-icon1 span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.active-nav-overlay #nav-icon1 span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.active-nav-overlay #nav-icon1 span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.active-nav-overlay {
  height: 100vh;
  overflow: hidden;
}

.top_0 {
  top: 0;
}
.fixed_navbar {
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gradient_navbar {
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.451);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.451);
}
.underline_hover {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.underline_hover:hover {
  color: var(--color-orange);
}
.underline_hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: var(--color-orange);
  height: 2px;
  width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.underline_hover:hover::before {
  width: 100%;
}
/* ===================HERO SECTION================ */
.hero_bgi {
  background-image: url("../src//assets/images/png/herobgi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  max-height: 664px;
}
.hero_top_overlay {
  max-width: 300px !important;
}
.h1_img {
  width: 140px;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.hero_para_width {
  max-width: 450px;
}

/* ===================DRIVEN SECTION================ */
.driven_box {
  margin: 0 auto;
  border-radius: 12.0675px;
  background: rgba(249, 241, 235, 1);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 11px 12px;
}
.driven_box:hover {
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.19);
}
.driven_para_width {
  max-width: 610px;
}
.driven_btn {
  background: #8ad9fa;
  padding: 6px !important;
  border-radius: 20px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.driven_btn:hover {
  background: white !important;
}

/* ===================FOOTER SECTION================ */
footer {
  background: #fff8f2 !important;
}
.footer_logo {
  width: 130px !important;
}
.footer_icon {
  width: 30px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer_icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* ===================ACCORDIAN QUERY================ */
.nns_accordian .accordion-item {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.accordion-button:not(.collapsed) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nns_accordian .accordion-button {
  padding: 10px 12px;
}
.nns_accordian .accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nns_accordian .accordion-item .accordion-button {
  background-color: transparent !important;
}
.nns_accordian .accordion-button::after {
  background-image: url("../src/assets/images/svg/arrowdown.svg");
}
.nns_accordian .accordion-button:not(.collapsed)::after {
  background-image: url("../src/assets/images/svg/arrowdown.svg");
}

/* =====================BACK TO TOP===================== */
.topscroll {
  position: fixed;
  right: 15px;
  bottom: 25px;
  background: var(--color-green);
  height: 40px;
  width: 40px;
  z-index: 100;
  border-radius: 50%;
  -webkit-animation: move 2s ease-in-out infinite;
  cursor: pointer;
  -webkit-animation: up-down 2.5s ease-in-out infinite;
  animation: up-down 2.5s ease-in-out infinite;
}

.topscroll:hover {
  -webkit-box-shadow: 0px 4px 30px var(--color-green);
  box-shadow: 0px 4px 30px var(--color-green);
}
.translate_40 {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.translate_img {
  -webkit-transform: translate(15px, -50px);
  -ms-transform: translate(15px, -50px);
  transform: translate(15px, -50px);
}
.img_height {
  height: 100px;
  min-width: 100px !important;
}
.hero_bg {
  background: -o-linear-gradient(
    288.39deg,
    rgba(231, 194, 168, 0.5) 7.62%,
    rgba(238, 228, 221, 0.5) 87.52%
  );
  background: linear-gradient(
    161.61deg,
    rgba(231, 194, 168, 0.5) 7.62%,
    rgba(238, 228, 221, 0.5) 87.52%
  );
  -webkit-box-shadow: 0px 10.1439px 46.4927px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10.1439px 46.4927px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(32.748px);
  backdrop-filter: blur(32.748px);

  border-radius: 20.5844px;
}
.purple_img {
  max-width: 50px;
}
.custom_clr {
  color: #000000a8;
}
.border_radius_15 {
  border-radius: 15px;
}
.object_fit_cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.left_22 {
  left: 22%;
}
.trasastion_05 {
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.show_btn {
  padding: 17px 43px 15px 42px;
}
@-webkit-keyframes up-down {
  50% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
@keyframes up-down {
  50% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
/* ==================SWAL STYLING ================*/
.swal2-icon.swal2-success .swal2-success-ring {
  border: 0.25em solid var(--color-green) !important;
}
.swal2-icon.swal2-success [class^="swal2-success-line"] {
  background-color: var(--color-green) !important;
}
.swal2-popup {
  padding: 45px 0px 45px !important;
}
.swal2-title {
  color: #000000 !important;
  font-family: "rootui", sans-serif !important;
}
/* ===================MEDIA QUERY================ */

@media (max-width: 768.99px) {
  .pagelogo_width {
    max-width: 155px !important;
  }
}
@media (max-width: 575.98px) {
  .hero_imgases {
    max-width: 330px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .h1_img {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .hero_top_overlay {
    max-width: 500px !important;
  }
  .join_left_img {
    top: -7% !important;
  }
  .img_height {
    height: 241px;
  }
  .translate_img {
    -webkit-transform: translate(-15px, -70px);
    -ms-transform: translate(-15px, -70px);
    transform: translate(-15px, -70px);
  }
  .fs_6xl {
    font-size: 40px;
  }
  .h1_img {
    width: 156px;
  }
  .driven_btn {
    padding: 8px 10px !important;
  }

  .footer_icon {
    width: 39px !important;
  }
}
@media (min-width: 768px) {
  .translate_img {
    -webkit-transform: translate(50px, -70px);
    -ms-transform: translate(50px, -70px);
    transform: translate(50px, -70px);
  }
  .fs_6xl {
    font-size: 50px;
  }

  .pagelogo_width {
    max-width: 152px !important;
  }
}
@media (min-width: 992px) {
  .h1_img {
    width: 200px;
    -webkit-transform: translateY(-17px) !important;
    -ms-transform: translateY(-17px) !important;
    transform: translateY(-17px) !important;
  }
  .translate_img {
    -webkit-transform: translate(15px, -70px);
    -ms-transform: translate(15px, -70px);
    transform: translate(15px, -70px);
  }
  .img_height {
    height: 180px;
  }
  .hero_para_width {
    margin: auto;
  }
  .fs_6xl {
    font-size: 64px;
  }
  .footer_logo {
    width: 180px !important;
  }
  .main_img {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  .showing_bottom_img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 5% !important;
  }
}
@media (min-width: 1200px) {
  .img_height {
    height: 241px !important;
  }
  .hero_para_width {
    margin: auto;
  }
  .fs_6xl {
    font-size: 64px;
  }
  .footer_logo {
    width: 180px !important;
  }
  .main_img {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
}
.text_tag {
  background-color: var(--color-orange);
  border-radius: 4px;
  width: 53px;
}
.image_tags {
  top: 12px;
  left: 12px;
}

