.navbar_header {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  z-index: 1000;
}

.sticky_header {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: black;
}

.connect_button {
  width: 177px;
  height: 53px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.header_toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .header_toolbar {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .logo_img {
    width: 130px;
  }
  .connect_button {
    width: 116.89px;
    height: 35px;
    font-size: 12px;
  }
}
