@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Geist", system-ui, sans-serif;
  }
}

@layer components {
  .link-default {
    @apply text-sm font-medium text-textSecondary hover:text-textSecondary stroke-textSecondary hover:stroke-textSecondary gap-xxs flex items-center;
  }
  .link-brand-lavender {
    @apply text-sm font-medium text-textBrandLavender hover:text-textPrimary stroke-textBrandLavender hover:stroke-textPrimary gap-xxs flex items-center;
  }

  .button-light {
    @apply text-textPrimary hover:text-textPrimary disabled:text-textPrimary bg-surfaceLight hover:bg-surfaceInverse disabled:bg-surfaceSecondary stroke-textPrimary disabled:stroke-textPrimary border border-transparent hover:border-borderSecondary disabled:border-transparent flex items-center gap-xxs font-medium;
  }
  .button-secondary {
    @apply text-textInverse disabled:text-textPrimary bg-surfaceSecondary hover:bg-surfacePrimary disabled:bg-surfaceSecondary stroke-textInverse disabled:stroke-textPrimary border border-transparent hover:border-borderSecondary disabled:border-transparent flex items-center gap-xxs font-medium;
  }
  .button-brand-lavender {
    @apply text-textInverse hover:text-textBrandLavender disabled:text-textPrimary bg-surfaceBrandLavender hover:bg-surfacePrimary disabled:bg-surfaceSecondary stroke-textInverse hover:stroke-textBrandLavender disabled:stroke-textPrimary border border-transparent hover:border-borderBrandLavender disabled:border-transparent flex items-center gap-xxs font-medium;
  }
  .button-sm {
    @apply text-sm p-xs rounded-lg;
  }
  .button-md {
    @apply text-sm p-sm rounded-xl;
  }
  .button-lg {
    @apply text-base p-md rounded-48;
  }

  .balance-text-gradient {
    background: linear-gradient(92deg, #C496FF 10.29%, #86F9E4 99.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
